.pricing {
  padding: var(--spacing-padding);
  max-width: var(--spacing-container);
  margin: 0 auto;
  background-color: var(--color-background);
}

.pricing-content {
  width: 85%;
  margin: 0 auto 2rem;
  text-align: left;
}

@media (max-width: 768px) {
  .section-heading {
    margin-bottom: 1.5rem;
  }

  .pricing-content {
    width: 95%;
  }
}
