.projects-hero {
  width: 100%;
  margin-top: var(--header-height);
  background-color: var(--color-background);
  padding: var(--spacing-padding);
}

.projects-hero-content {
  max-width: var(--spacing-container);
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: var(--color-text-main);
  margin-bottom: -2rem;
}

.projects-hero-label {
  font-size: var(--text-h3);
  margin-bottom: 1rem;
  font-weight: 400;
  color: var(--color-text-main);
}

.projects-hero-title {
  font-size: var(--text-h1);
  color: var(--color-secondary-alt);
  margin-bottom: 2rem;
  line-height: 1;
}
.projects-hero-text {
  font-size: var(--text-body);
  line-height: 1.8;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .projects-hero-title {
    margin-bottom: 1rem;
  }

  .projects-hero-content {
    padding: 1rem 0;
    margin-bottom: -3rem;
  }
}
